/*color of the welcome sign*/

.my-4 {
    color: orangered;
}


/*services section ie residential commercial and pricing header body and text*/

.card-header {
    color: orangered;
}

.card-body {
    background-color: black;
}

.card-text {
    color: orangered;
    font: georgia;
}


/*banner photo*/

.responsive {
    width: 100%;
    height: auto;
}


/*photo of the truck*/

.img-fluid {
    width: 100%;
    height: auto;
}


/*navigation bar background color*/

.bg-dark {
    background-color: black!important;
}